Flask~=2.2.2
SQLAlchemy~=2.0.3
requests~=2.27.1
tqdm~=4.63.0
beautifulsoup4~=4.11.2
urllib3~=1.26.8
tika~=1.24
#flask-security-too~=5.1.0
psycopg2~=2.9.5
#flask-mail~=0.9.1
zxcvbn~=4.4.28
bleach~=6.0.0
Werkzeug~=2.2.3
flask-cors~=3.0.10